[Unit]
Description=A minimal fedora container

[Container]
# fedora:39
Image=quay.io/fedora/fedora@sha256:ba183289cd121f5ba02e5b5219d613abbb657a4855b835dafc8d873823961892

# In the container we just run sleep
Exec=sleep 60

PodmanArgs=--storage-opt=overlay.additionalimagestore=/var/apps/ba183289cd121f5ba02e5b5219d613abbb657a4855b835dafc8d873823961892

[Service]
# Restart service when sleep finishes
Restart=always

[Install]
WantedBy=multi-user.target default.target
