[Unit]
Description=A minimal fedora container

[Container]
# fedora-minimal:38
Image=quay.io/fedora/fedora-minimal@sha256:82cbf7d47c03d991f1de18b4d981e43257d94a9d1fcec53236484d49129f106a

# In the container we just run sleep
Exec=sleep 60

PodmanArgs=--storage-opt=overlay.additionalimagestore=/var/apps/82cbf7d47c03d991f1de18b4d981e43257d94a9d1fcec53236484d49129f106a

[Service]
# Restart service when sleep finishes
Restart=always

[Install]
WantedBy=multi-user.target default.target
