[Unit]
Description=A minimal fedora container

[Container]
# fedora-minimal:38
Image=quay.io/pwallrab/fedora-minimal@sha256:71c21f8e19e238078518b08d85cf539bc36e7cbcadfd933bf639e8b2dfb3bfa6

# In the container we just run sleep
Exec=sleep 60

PodmanArgs=--storage-opt=overlay.additionalimagestore=/var/apps/71c21f8e19e238078518b08d85cf539bc36e7cbcadfd933bf639e8b2dfb3bfa6

[Service]
# Restart service when sleep finishes
Restart=always

[Install]
WantedBy=multi-user.target default.target
