[Unit]
Description=A minimal fedora container

[Container]
# fedora:39
Image=quay.io/pwallrab/fedora@sha256:79bc8b44f825134e8db440481df737b07f7bc4cd6aa21000582099f80682dcae

# In the container we just run sleep
Exec=sleep 60

PodmanArgs=--storage-opt=overlay.additionalimagestore=/var/apps/79bc8b44f825134e8db440481df737b07f7bc4cd6aa21000582099f80682dcae

[Service]
# Restart service when sleep finishes
Restart=always

[Install]
WantedBy=multi-user.target default.target
