[Unit]
Description=A minimal fedora container

[Container]
# fedora:39
Image=quay.io/fedora/fedora@sha256:90afa0d40e87d356ed1c715195fdbbf5bb096339d5800f02b2abbfb462e18c88

# In the container we just run sleep
Exec=sleep 60

PodmanArgs=--storage-opt=overlay.additionalimagestore=/var/apps/90afa0d40e87d356ed1c715195fdbbf5bb096339d5800f02b2abbfb462e18c88

[Service]
# Restart service when sleep finishes
Restart=always

[Install]
WantedBy=multi-user.target default.target
