[Unit]
Description=A minimal fedora container

[Container]
# fedora-minimal:39
Image=quay.io/fedora/fedora-minimal@sha256:dd3fe2b51e27e139444b929eb30c90a191dd6be49e83eb027ae5a259e89a50f1

# In the container we just run sleep
Exec=sleep 60

[Service]
# Restart service when sleep finishes
Restart=always

[Install]
WantedBy=multi-user.target default.target
